
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #B9B9B9;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}
.menu .label {
  -fx-text-fill: WHITE;
  -fx-padding: 0 10 0 0;
}

.menu-bar {
  -fx-background-color: linear-gradient(to bottom, #1C1C1C,  #1C1C1C);
  -fx-border-width: 0;
}

.menu:hover {
    -fx-background-color:
      linear-gradient(#3986e1 0%, #4c75e6 25%, #7b4cf4 75%, #9c2ffe 100%),
      linear-gradient(#4c75e6, #9c2ffe),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%);
}

.label .text {
  -fx-text-fill: WHITE;
}

.addButton {
  -fx-background-color: transparent;
  -fx-background-insets: 0 0 0 0, 0, 0, 0;
  -fx-background-radius: 0 0 0 0, 0, 0, 0;
  -fx-border-width: 0 0 0 0, 0, 0, 0;
  -fx-text-fill: #F9F9F9;
  -fx-font-family: "Akzidenz-Grotesk Std Regular";
  -fx-font-size: 25px;
}
.addButton:hover {
  -fx-text-fill: white;
}

.addPress {
  -fx-background-color: transparent;
  /* -fx-border-color: #B9B9B9; */
  -fx-color: white;
  -fx-text-fill: #B9B9B9;
  -fx-font-family: "Akzidenz-Grotesk Std Regular";
  -fx-font-size: 20px;
}

.addPress:hover {
  -fx-background-color: rgba(185, 185, 185, .1);
  /* -fx-border-color: #1C1C1C; */
  -fx-color: transparent;
  -fx-text-fill: white;
}

.addPress:pressed {
  -fx-opacity: 0.5;
}

.addTime {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-effect:  dropshadow(GAUSSIAN, black, 5, 0, 1, 2);
}

.addTime:hover {
	-fx-background-color: #262626;
}

.addTime:pressed {
	-fx-opacity: 0.5;
}

.accordion .titled-pane .title {
  -fx-background-color: #262626;
  /*-fx-background-color:
      linear-gradient(#262626 0%, #232723 25%, #262626 75%, #2F3036 100%),
      linear-gradient(#262626, #1C1C1C),
      linear-gradient(#2F3036 0%, #262626 20%, #1C1C1C 80%, #1C1C1C 100%),
      linear-gradient(#2F3036 0%, #262626 20%, #1C1C1C 80%, #1C1C1C 100%);*/
  /* -fx-text-fill: ##B9B9B9; */
  -fx-font: 18px "Akzidenz-Grotesk Std Regular";
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color:
      linear-gradient(#3986e1 0%, #4c75e6 25%, #7b4cf4 75%, #9c2ffe 100%),
      linear-gradient(#4c75e6, #9c2ffe),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%);
}

.titled-pane > *.content {
    -fx-border-color: #262626;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-padding: 1 15 1 0;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.locationContainer {
  -fx-background-color: transparent;
}

.locationDiv {
  -fx-background-color: #363636;
  -fx-background-insets: 15 15 15 15;
  -fx-background-radius: 10 10 10 10;
  -fx-effect: dropshadow(GAUSSIAN, black, 10, 0, 4, 5);
}

/* .locationDiv:hover {
  -fx-background-color: #1C1C1C;
  -fx-background-insets: 15 15 15 15;
  -fx-background-radius: 10 10 10 10;
  -fx-effect: dropshadow(GAUSSIAN, #bc784e, 5, 0, 1, 2);
} */

.connections {
  -fx-text-fill: #B9B9B9;
  -fx-font: 16px "Akzidenz-Grotesk Std Regular";
}

.connections:hover {
  -fx-underline: true;
  -fx-text-fill: 
  	linear-gradient(#3986e1 0%, #4c75e6 25%, #7b4cf4 75%, #9c2ffe 100%),
      linear-gradient(#4c75e6, #9c2ffe),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%);
}

.browseButton {
  -fx-background-color: #262626;
  -fx-background-radius: 5 5 5 5;
  -fx-background-color:
      linear-gradient(#262626 0%, #232723 25%, #262626 75%, #1C1C1C 100%),
      linear-gradient(#262626, #1C1C1C),
      linear-gradient(#2F3036 0%, #1C1C1C 20%, black 80%, #1C1C1C 100%),
      linear-gradient(#2F3036 0%, #1C1C1C 20%, black 80%, #1C1C1C 100%);
  -fx-text-fill: white;
  -fx-font: 12px "Akzidenz-Grotesk Std Regular";
  -fx-effect: dropshadow(GAUSSIAN, black, 5, 0, 1, 2);
}

.browseButton:pressed {
	-fx-opacity: 0.5;
}

.middleContainer {
  -fx-effect: dropshadow(GAUSSIAN, black, 10, 0, 4, 5);
  -fx-background-color: black;
}

.textboxtext {
  -fx-background-color: black;
  -fx-text-inner-color: white;
  -fx-padding: 10 5 10 35;
  -fx-border-insets: 5 0 5 5;
  -fx-background-insets: 5 0 5 25;
}

.addpressTextBox {
  -fx-background-color: black;
  -fx-text-inner-color: white;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font: 12px "Akzidenz-Grotesk Std Bold";
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-background-color:
      linear-gradient(#3986e1 0%, #4c75e6 25%, #7b4cf4 75%, #9c2ffe 100%),
      linear-gradient(#4c75e6, #9c2ffe),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%);
}

.table-view {
  -fx-table-cell-border-color: transparent;
}

/*
.table-cell.end {
    -fx-background-color: black;
}
*/

.table-row-cell:odd {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.table-row-cell:even {
	-fx-background-color: rgba(96, 96, 96, 0.5);
	-fx-border-color: transparent;
}

.table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.table-row-cell:filled {
   /* -fx-background-color: lime; */
}
.table-view .column-header.end {
}

.combo-box .cell{
    -fx-text-fill: White;
    -fx-background-color:  #363636;
    -fx-background-radius: 0em;
    -fx-border-color: transparent;
}

.combo-box .scroll-bar{
    -fx-background-color:  #363636;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.combo-box .scroll-bar .thumb {
    -fx-background-color: #B9B9B9;
    -fx-background-radius: 5em;
}


.combo-box .arrow {
    -fx-background-color:
      linear-gradient(#3986e1 0%, #4c75e6 25%, #7b4cf4 75%, #9c2ffe 100%),
      linear-gradient(#4c75e6, #9c2ffe),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%)
}

.topDiv {
	-fx-effect: dropshadow(GAUSSIAN,  #1B1B1F, 10, 0, 4, 5);
}

.check-box
{
    -fx-text-fill: #395cab;
    /*-fx-label-padding: 0.0em 0.0em 0.416667em;*/

}

.check-box:focused
{
    -fx-color: #ff5400;
}

.check-box .box{

    -fx-background-color:
      linear-gradient(#3986e1 0%, #4c75e6 25%, #7b4cf4 75%, #9c2ffe 100%),
      linear-gradient(#4c75e6, #9c2ffe),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%),
      linear-gradient(#3986e1 0%, #4c75e6 20%, #7b4cf4 80%, #9c2ffe 100%);
    -fx-body-color:#9a9a9a;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2,2,1,1;
    -fx-padding: 0.25em;
}

.check-box:focused .box{

     -fx-background-color: #ea7f4;
    -fx-background-insets: -1.4,0,1,2;
    -fx-background-radius: 3,4,2,1,1;

}

.check-box:hover .box{

    -fx-color:#9d4024;
    -fx-hover-base:#7ebcea;
}

.check-box .mark {
    -fx-background-insets: 1 0 -1 0 0;
    -fx-padding: 0.3333333em;

}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:indeterminate .mark{
    -fx-background-color: #2a2b2a;
    -fx-mark-highlight-color: #395cab;
    -fx-scale-shape: true;
}
/* .browseButton:hover {
  -fx-background-color: #262626;
  -fx-background-color:
      linear-gradient(#262626 0%, #232723 25%, #262626 75%, #2F3036 100%),
      linear-gradient(#262626, #2F3036),
      linear-gradient(#1C1C1C 0%, #262626 20%, #2F3036 80%, #1C1C1C 100%),
      linear-gradient(#1C1C1C 0%, #262626 20%, #2F3036 80%, #1C1C1C 100%);

} */
